.Stepper{
  font-size: 13px;
  display: flex;
  color:var(--red);
  width: min-content;
}
.Stepper .step{
  font-size: 13px;
  display: flex;
  align-items: center;
}
.Stepper .icon{
  width: 20px;
  height: 20px;
  border: 1px solid var(--red);
  border-radius: 50%;
  color:var(--red);
  margin-right:8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Stepper .icon.done{
  background-color: var(--red);
  color: white;
  font-size: 10px;
}
.Stepper .icon .number{
  font-weight: bold;
  font-size: 14px;
}
.Stepper .icon-chevron-right{
  color: var(--red);
  font-size: 23px;
  margin-left: 24px;
  margin-right: 24px;
}