.Navbar{
 
  height: 90.76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 15px;
}
.Navbar .inner{
  max-width: 1366px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar .logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260.45px;
}
.Navbar .icon-sale-green{
  font-size: 42px;
}
.Navbar .icon-demo-shop{
  font-size: 25.5px;
}
.Navbar .items{
  display: flex;
  justify-content: right;
  align-items: center;
  width: min-content;
}
.Navbar .item{
  width: 100px;
  height: 18px;
  border-radius: 5px;
  background-color:#9c9c9c;
  margin-left: 35px;
}
/* break point to give 1366x768 a full-hd like layout */
@media(max-width:1396px){
  .Navbar{
    height: 60px;
  }
}
/* Mobile break-point */
@media(max-width:1365px){
  .Navbar{
    display: none;
  }
}